
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h2>Fill in details of the product you wish to sell</h2>
  <form class="form-horizontal" method="post" action="{% url 'products:paid_product_form'%}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
{% endblock %}
