{% load static i18n %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}foodie{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="food sharing app to reduce wastage">
    <meta name="author" content="kahuho">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% render_bundle 'project' 'css' %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}

      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}

    {% endblock javascript %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">foodie</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="">Add Item</a>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
              {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
              <!---add a nav item for searching-->
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item ">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>


    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    <!-- Footer -->
  <footer
  class="text-center text-lg-start text-dark"
  style="background-color: #ECEFF1"
  >
<!-- Section: Social media -->
<section
     class="d-flex justify-content-between p-4 text-white"
     style="background-color: #21D192"
     >
<!-- Left -->
<div class="me-5">
<span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" class="text-white me-4">
  <i class="fab fa-facebook-f"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-twitter"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-google"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-instagram"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-linkedin"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-github"></i>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
  <!-- Grid column -->
  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    <!-- Content -->
    <h6 class="text-uppercase fw-bold">Company name</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p>
      Here you can use rows and columns to organize your footer
      content. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Products</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p>
      <a href="#!" class="text-dark">MDBootstrap</a>
    </p>
    <p>
      <a href="#!" class="text-dark">MDWordPress</a>
    </p>
    <p>
      <a href="#!" class="text-dark">BrandFlow</a>
    </p>
    <p>
      <a href="#!" class="text-dark">Bootstrap Angular</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Useful links</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p>
      <a href="#!" class="text-dark">Your Account</a>
    </p>
    <p>
      <a href="#!" class="text-dark">Become an Affiliate</a>
    </p>
    <p>
      <a href="#!" class="text-dark">Shipping Rates</a>
    </p>
    <p>
      <a href="#!" class="text-dark">Help</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Contact</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
 class="text-center p-3"
 style="background-color: rgba(0, 0, 0, 0.2)"
 >
© 2020 Copyright:
<a class="text-dark" href="https://mdbootstrap.com/"
 >MDBootstrap.com</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>

    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
